html {
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 400;
}

/*fonts.google.com*/